.check-in-wrapper {
  background-color: rgb(140, 187, 212);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.check-in {
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  width: 90%;
text-align: center;
 background: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  border-radius: 8px; 
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

.keybox-img {
  width: 95%; 
  height: auto; 
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;

}

.yaleKeypad-img {
  width: 70%; 
  height: auto; 
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;

}

.check-in h1 { 
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  color: rgb(91, 88, 88);
}
@media screen and (min-width: 701px) {
  .check-in {
    width: 630px;
  }
}