.restaurantsShopsList-wrapper {
  width: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 40px;
}

.restaurantsShopsList-wrapper h1 {
  text-align: center;
  margin-top: 50px;
  color: rgb(91, 88, 88);
}

.restaurantsShopsList-wrapper h2 {
  margin-left: 20px;
  color: rgb(91, 88, 88);
}

.restaurantsShopsList-wrapper h3 {
  margin-bottom: 5px;
}

.restaurantsShopsList-wrapper p {
  text-align: left;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 5px;
}

@media screen and (min-width: 701px) {

  .restaurantsShopsList-wrapper {
    width: 630px;
  }
}