/* Header/Header.css */
/* src/components/Header/Header.css */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  color: antiquewhite; 
  text-shadow: 1px 1px 2px black; 
}

/* Assuming you have a Header.css file */
.big-text-title h1{
  color: antiquewhite;
  margin-bottom: 0;
  margin-left: 20px; 
 margin-top: 10px;
 font-size: 80px;
}

/* Style for the small-text-title if you need it */
.small-text-title {
  margin-left: 20px;
  margin-top: 40px;
}

  