/* Header/Header.css */
/* src/components/Header/Header.css */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 30px;
  color: rgb(234, 226, 194); 
  text-shadow: 1px 1px 2px black; 
}

/* Assuming you have a Header.css file */
.big-text-title h1{
  color: rgb(234, 226, 194);
  margin-left: -50%; 
 margin-top: -40px;
 font-size: 20px;
 font
}

/* Style for the small-text-title if you need it */
.small-text-title {
  margin-left: -80%;
  margin-top: 30px;
}

  