.footer {
text-align: center;
  padding: 10px;
  width: 100%; 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;

}

h4 {
  color: rgb(91, 88, 88);
}

.email-link{
  color: rgb(91, 88, 88);
  text-decoration: underline;
}

.email-link:hover {
  color: lightgrey;
}