/* src/App.css */
/* * {
  border: 1px solid red;
} */
body, html {
  font-family: 'Quicksand', sans-serif;
  
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  
  /*font-family: 'Arial', sans-serif;*/

}

h1 {
  font-family: Satisfy, sans-serif;
}

.top-background {
  background-image: url('../images/stone-img.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px; 
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


p {
  text-align: center;
  color: rgb(91, 88, 88);
 }

 li {
  color: rgb(91, 88, 88);
  text-align: left;
 }
/* 
 p {
  padding-right: 15px;
 } */

 /* @media (min-width: 425px ) {
  .top-background {
    width: 100vw;
  }
 } */